@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'tailwindcss';

@theme {
  --font-roboto: 'Roboto', sans-serif;
  
  --color-primary-base: #368cdc;
  --color-primary-tint: #4499E7;
  --color-primary-stroke: #eef5fc;
  --color-primary-stroke-bold: #7ecbe9;
  --color-secondary-tint: #a97642;
  --color-secondary-base: #8c6239;
  --color-secondary-shade: #4b3927;
  --color-secondary-shade-o10: #4b39271a;

  --color-secondary-stroke-base: #e5dbd2;
}

@layer base {
  body {
    font-family: var(--font-roboto);
    color: #333333;
  }
}

@layer utilities {
  .bg-secondary-bg-gradient-a {
    background-image: linear-gradient(
      to bottom,
      #eee7e0 2%,
      #f7f5f3 9%,
      #f8f6f5 80%,
      #f2ebe5 100%
    );
  }
  .bg-secondary-bg-gradient-b {
    background-image: linear-gradient(
      to top,
      #eee7e0 2%,
      #f7f5f3 9%,
      #f8f6f5 80%,
      #f2ebe5 100%
    )
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
      filter: blur(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }
  .animate-fade-in {
    animation: fade-in 0.8s ease-out both;
  }
  
}
